.blog-nav, .search-button, .search-input{
    background-color: rgba(234, 223, 248, 0.64);
    border-radius: 50px;
    color: black;
    font-weight: 700;
    font-size: 16px;
}

.blog-nav, .blog-nav-active{
    margin-right: 12px;
    padding: 10px;
}

.blog-nav-active{
    background-color: rgba(135, 83, 212, 1);
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-title{
    font-size: 16px;
    color: rgba(135, 83, 212, 1);
}
.card-text{
    font-size: 24px;
    color: rgba(18, 9, 32, 1);
}
.description-more{
    font-size: 18px;
    color: rgba(18, 9, 32, 1);
}

.load-more{
    position: relative;
    margin-top: 50px;
    margin-bottom: 120px;
    left: 45%;
    right: 45%;
}