@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.containee {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 20px;
}

.containee .heading {
    font-size: 40px;
    margin-bottom: 20px;
    color: #334;
}

.containee .box-containee {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.containee .box-containee .box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, .2); */
    display: none;
}

.containee .box-containee .box:nth-child(1),
.containee .box-containee .box:nth-child(2),
.containee .box-containee .box:nth-child(3) {
    display: inline-block;
}

.containee .box-containee .box .image {
    margin-bottom: 20px;
    overflow: hidden;
    height: 250px;
    border-radius: 5px;
}

.containee .box-containee .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.containee .box-containee .box:hover .image img {
    transform: scale(1.1);
}

.containee .box-containee .box .content h3 {
    font-size: 16px;
    color: rgba(135, 83, 212, 1);

}

.containee .box-containee .box .content p {
    font-size: 17px;
    color: rgba(18, 9, 32, 1);
    line-height: 2;
    padding: 15px 0;
}

.containee .box-containee .box .content .btn {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #334;
    color: #334;
    font-size: 16px;
}

.containee .box-containee .box .content .btn:hover {
    background-color: crimson;
    border-color: crimson;
    color: #fff;
}

.containee .box-containee .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #334;
}

.containee .box-containee .box .content .icons span {
    font-size: 14px;
    color: #777;
}

.containee .box-containee .box .content .icons span i {
    color: crimson;
    padding-right: 5px;
}

#load-more {
    margin-top: 20px;
    display: inline-block;
    padding: 13px 30px;
    border: 1px solid #334;
    color: #334;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
}

#load-more:hover {
    background-color: crimson;
    border-color: crimson;
    color: #fff;
}

@media (max-width:450px) {

    .containee .heading {
        font-size: 25px;
    }

    .containee .box-containee {
        grid-template-columns: 1fr;
    }

    .containee .box-containee .box .image {
        height: 200px;
    }

    .containee .box-containee .box .content p {
        font-size: 12px;
    }

    .containee .box-containee .box .content .icons span {
        font-size: 12px;
    }

}