.footer{
    display: flex;
    height: 350px;
    background: rgba(18, 9, 32, 1);
}

.left{
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
    justify-content: space-around;
    align-items: center;
}
.footer-beetle{
    width: 200px;
    height: auto;
}

.link-images{
    display: flex;
    column-gap: 10px;
    margin-top: -20px;
    margin-right: 70px;
}

.link-image{
    border-radius: 16px;
}

.right{
    flex: 2.5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-about{
    margin-bottom: 40px;
}

.right h5{
    color: white;
    font-size: 18px;
}
.right p{
    color: rgba(255, 255, 255, 0.8);
}
