.nav-colors{
    color: white;
}
.nav-colors:hover{
    color: white;
}
.navbar{
    height: auto;
}
.beetle-image{
    width: 170px;
    height: auto;
}


.right-section-button{
    background-color: #180932;
    color: white;
    border: solid 1px;
    border-radius: 50px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
}
